body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#Galinha{
    width: 230px;
    height: 170px;
}

#navbar{
    background-color: rgb(177, 0, 0);
    color: aliceblue;

    display: flex;
    justify-content: space-between;

    font-size: xx-large;
align-items: center;

padding: 5px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#notícias {
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between ;
    justify-content: space-around;
    display: flex;
    padding: 6px;
}

.notícia {
    background-color: rgb(192, 1, 1);
    color: aliceblue;
    text-align: center;
    border: 2px solid;

}

.img_notícia{
    width:610px;
    height: 360px;
}

