#Galinha{
    width: 230px;
    height: 170px;
}

#navbar{
    background-color: rgb(177, 0, 0);
    color: aliceblue;

    display: flex;
    justify-content: space-between;

    font-size: xx-large;
align-items: center;

padding: 5px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

